<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Carlos'">Usuario Carlos</p>
  <p *ngSwitchCase="'carlos'">Usuario Carlos</p>
  <p *ngSwitchCase="'CARLOS'">Usuario Carlos</p>
  <p *ngSwitchDefault>Usuario invalido</p>
</div>
<hr>
<h1>*ngFor para Objetos</h1>
<div>
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="imagen" width="150">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<hr>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addNewName()">Add new name</button>
<ul>
  <li *ngIf="names.length===0">No hay nombres, lista vacia</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name==='Carlos V.'">Hola soy {{person.name}}</p>
<p *ngIf="person.name!='Carlos' && person.age < 18; else elseBlock">Hola, usuario no permitido</p>
<ng-template #elseBlock>
  <p>Usuario no permitido, mayor de 18 años</p>
</ng-template>
<h1>ngModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Name Valid input: {{nameInput.valid}}</p>
<p>Edad: {{ person.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Age Valid input: {{ageInput.valid}}</p>
<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, voluptatibus minima. Deserunt cum ex aliquid
    quaerat doloremque totam autem excepturi dolorem? Reprehenderit eius illo sequi consequuntur quaerat eaque ratione
    similique.</p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" />
<hr />
<h1>Hola mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src={{img}} alt="image">