.message-error {
  background: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
}

.message-error.active {
  opacity: 1;
}

.styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.line-error {
  height: 0;
  border-bottom: 1px solid;
}

.line-error.invalid {
  border-color: red;
}

.line-error.valid {
  border-color: green;
}
